##### ranjanashish: air_lab_iitm Ignore List #####

# ignore all files in the these directories
bin/
build/
msg_gen/
srv_gen/
.settings/

# ignore all these files
.cproject
.project
.pydevproject

# ignore standard stuff
*~
*.o
*.pyc
